body {
  padding-top: 55px;
  /*background-color: #F0EFEB;*/
}

.profile-img {
  width: 25%;
  height: auto;
  margin-bottom: 15px;
}

.navbar-brand {
  font-size: 1.7em;
}
/*.navbar-brand img {
  height: auto;
  width: 25%;
  border-radius: 5px;
}*/

.delete {
  float: right;
}

.search-bar {
  margin-top: 30px;
  display: inline-block;
  margin-right: 5px;
}

/*==================
Bootstrap Overrides
==================*/

.btn, .btn-warning {
  background-color: #fcd945;
  border: 0px;
  color: black;
}

.btn:hover, .btn-warning:hover {
  background-color: black;
  color: white;
}

.nav li:hover {
  color: white;
}


/*==================
Card
==================*/

.card {
  display: inline-block;
  text-align: center;
  background: #FAFAFA;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
  border-radius: 3px;
  width: 280px;
  height: 360px;
  margin: 10px;
}

.card ul {
  padding: 0;
}

.card-title {
  font-family: 'museo', sans-serif;
  font-size: 20px;
  letter-spacing: .15px;
  margin-bottom: 5px;
}

.card-text {
  margin-bottom: 15px;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .125px;
}

.card li.btn {
  margin-right: 4px;
  margin-bottom: 5px;
  background-color: #fcd945;
  border: 0px;
  font-size: 12px;
  color: black;
}

.img-circle {
  margin-top: 20px;
  width: 160px;
  height: auto;
}

.pin {
  height: 10px;
  width: 10px;
  margin-bottom: 3px;
  margin-right: 1px;
}

/*==================
Profile
==================*/

.profile-container {
  margin: 0 auto;
  margin-top: 80px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  vertical-align: top;
}

/* Left Container */

#left-container {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  text-align: center;
  margin-right: 7%;
}

#left-container h3 {
  font-family: 'museo', sans-serif;
  font-size: 20px;
}

#profile-photo {
  border-radius: 360px;
  width: 90%;
}

#interests {
  margin-top: 10px;
  text-align: left;
  padding: 0px;
}

#interests li {
  margin-right: 4px;
  margin-bottom: 5px;
  background-color: #fcd945;
  border: 0px;
  font-size: 12px;
  color: black;
}

#interests li:hover {
  background-color: black;
  color: white;
}


/* Right Container */

#right-container {
  vertical-align: top;
  display: inline-block;
  width: 59%;
}

#right-container h1 {
  margin-top: 0px;
  font-family: 'museo', sans-serif;
  font-size: 50px;
  letter-spacing: -1px;
}

#right-container h4 {
  margin-top: -2px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .125px;
}

#right-container div {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #808285;
  width: 100%;
}

#right-container p {
  width: 85%;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 18px;
}

#edit-profile {
  margin-top: 20px;
  border: 1px solid #808285;
  padding: 0 10px;
  height: 33px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: .15px;
  background-color: white;
}

#edit-profile:hover {
  background-color: black;
  color: white;
}


/*==================
Media Queries - User#Show
==================*/

@media (max-width: 700px) {
  .profile-container {
    margin-top: 50px;
    text-align: center;
    padding: 0;
  }
  #left-container {
    display: block;
    width: 90%;
    margin-right: 0%;
  }
  #profile-photo {
    width: 75%;
  }
  #interests {
    margin: 0 auto;
    width: 55%;
    text-align: center;
  }
  #right-container {
    display: block;
    width: 90%;
    text-align: center;
  }
  #right-container h1 {
    margin-top: 23px;
    text-align: center;
    font-size: 32px;
  }
  #right-container div {
    margin: 0 auto;
    width: 95%;
    margin-bottom: 30px;
  }
  #right-container h4 {
    text-align: center;
  }
  #right-container p {
    /*width: 70%;*/
  }
}
